body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

h1,
p,
footer {
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

footer a {
  margin: 0 10px;
  color: grey;
}

.contact-us {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.croissant-photo {
  display: block;
  margin: 30px auto;
  max-width: 80%;
  border-radius: 10px;
  padding: 20px 20px;
}
